"""Settings for ``fabfile.py``.

Replace these settings with your information.
"""

import os

ENV_USER = 'username'                         # Webfaction username
ENV_PASS = 'XXXXXXXX'                         # Webfaction password
PROJECT_NAME = 'projectname'                  # desired project name

APP_DOMAIN = 'example.com'      # domain the app will be deployed on
APP_URL = '/foo'                # url path the app will be served on

# Webfaction app types for Flask, static app, and git repo app.  You might
# want to update these as new versions are released.
#
# See https://docs.webfaction.com/xmlrpc-api/apps.html#application-types for types
APP_TYPE = 'mod_wsgi4421-python35'          # mod_wsgi 4.4.21/Python 3.5
STATIC_TYPE = 'static_only'                 # Static only (no .htaccess)
GIT_TYPE = 'git_230'                        # Git 2.3.0 - not needed if git app is already set up

VENV_NAME = 'venv'                                # name of virtualenv
VENV_COMMAND = 'pyvenv-3.5 {0}'.format(VENV_NAME) # command to create venv

# Settings that are calculated from other settings.  You can change these, but
# you usually don't have to.
ENV_HOSTS = ['{0}.webfactional.com'.format(ENV_USER), ]
APP_NAME = '{0}_flask'.format(PROJECT_NAME)
STATIC_NAME = '{0}_static'.format(PROJECT_NAME)

GIT_REPO_NAME = PROJECT_NAME

PROJECT_ROOT = os.path.realpath(os.path.dirname(__file__))
REMOTE_APP_BASE = 'webapps/{0}'
REMOTE_APP_ROOT = REMOTE_APP_BASE.format(APP_NAME)
REMOTE_APP_ROOT_FULLPATH = '/home/{0}/{1}'.format(ENV_USER, REMOTE_APP_ROOT)
