body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

h2 {
  color: #FF9900;
  background-color: #26354A;
}

.page {
  margin: 2em auto;
  border: 5px solid #CCC;
  padding: 0.8em;
}

.flash {
  background: #CEE5F5;
  padding: 0.5em;
  border: 1px solid #AACBE2;
}
